<div class="col-sm-8 offset-2">
  <div class="card LRCard">
    <h5 class="card-header cardheader">Create a new car</h5>
    <div class="card-body LRBody">
      <form method="POST" action="" enctype="multipart/form-data">
        <span style="color: red;" *ngIf="error != ''">{{ error }}</span>

        <div class="form-group LRInput">
          <label for="CarName">Car name</label>
          <input name="CarName" type="text" class="form-control" id="CarName" [(ngModel)]="car.name" placeholder="e.g. GTR">
        </div>

        <!-- Heres the content after the "Brand CRUD" is inplemented -->
        <div class="form-group LRInput">
          <select class="custom-select">
            <option [value]="brand.id" *ngFor="let brand of brands">{{ brand.name }}</option>
          </select>
        </div>
        <!-- End of content after the "Brand CRUD" is implemented -->

        <div class="form-group LRInput">
          <label for="Brand">Velocity (Km/h)</label>
          <input name="Velocity" type="number" class="form-control" id="Velocity" placeholder="e.g. 200" min="1" max="800"
            step="1" [(ngModel)]="car.velocity">
        </div>
        <div class="form-group LRInput">
          <label for="Acceleration">Acceleration (0-100 Km/h)</label>
          <input name="Acceleration" type="number" class="form-control" id="Acceleration" placeholder="e.g. 2.8" min="1"
            max="15" step="0.1" [(ngModel)]="car.acceleration">
        </div>
        <div class="form-group LRInput">
          <label for="PS">PS</label>
          <input name="ps" type="number" class="form-control" id="ps" placeholder="e.g. 600" min="1" max="3000" step="1"
            [(ngModel)]="car.ps">
        </div>
        <div class="form-group LRInput">
          <label for="Price">Price (CHF)</label>
          <input name="Price" type="number" class="form-control" id="Price" placeholder="e.g. 120000" min="1" max="70000000"
            step="1" [(ngModel)]="car.price">
        </div>
        <div class="form-group LRInput">
          <label for="Weight">Weight (kg)</label>
          <input name="Weight" type="number" class="form-control" id="Weight" placeholder="e.g. 1200" min="1" max="30000"
            step="1" [(ngModel)]="car.weight">
        </div>
        <div class="form-group LRInput">
          <label for="Weight">Seats</label>
          <input name="Seats" type="number" class="form-control" id="Seats" placeholder="e.g. 2" min="1" max="20" step="1"
            [(ngModel)]="car.seats">
        </div>
        <div class="form-group LRInput">
          <label for="Weight">Manufacturing year</label>
          <input name="ManufacturingYear" type="number" class="form-control" id="ManufacturingYear" placeholder="e.g. 1980"
            min="1800" max="2020" step="1" [(ngModel)]="car.manufacturingYear">
        </div>
        <div class="form-group LRInput">
          <label for="Cylinders">Cylinders</label>
          <select name="Cylinders" class="form-control" id="Cylinders" [(ngModel)]="car.cylinders">
            <option value="1">1</option>
          </select>
        </div>
        <div class="form-group LRInput">
          <label for="Drivetrain">Drivetrain</label>
          <select name="Drivetrain" class="form-control" id="Drivetrain" [(ngModel)]="car.drivetrain">
            <option value="1">Front</option>
          </select>
        </div>
        <div class="form-group LRInput">
          <label for="Doors">Doors</label>
          <input name="Doors" type="number" class="form-control" id="Doors" placeholder="e.g. 4" min="1" max="8" step="1"
            [(ngModel)]="car.doors">
        </div>
        <div class="form-group LRInput">
          <label for="Torque">Torque</label>
          <input name="Torque" type="number" class="form-control" id="Torque" placeholder="e.g. 1300" min="1" max="9000"
            step="1" [(ngModel)]="car.torque">
        </div>
        <div class="form-group LRInput">
          <label for="Transmission">Transmission</label>
          <select name="Transmission" class="form-control" id="Transmission" [(ngModel)]="car.transmission">
            <option value="1">Manuell</option>
            <option value="2">Automatic</option>
          </select>
        </div>
        <div class="form-group LRInput">
          <label for="CarPicture">Picture of the Car</label>
          <input type="file" class="form-control-file" id="CarPicture" name="image" [(ngModel)]="car.picture">
        </div>
        <button type="submit" class="btn btn-primary LRPrimary">Update</button>
        <a class="btn btn-secondary LRSecondary" href="/home">Cancel</a>
      </form>
    </div>
  </div>
</div>
